body {
    background-image: url('../images/daniel-ramirez-unsplash.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
}

h1 {
    color: white;
}

main {
    color: white;
}

